.wrapper {
    margin: 0 auto;
    max-width: 122rem;
    width: 100%;
}

.wrapper-large {
    margin: 0 auto;
    max-width: 144rem;
    width: 100%;
}

.subtitle-spacing {
    font-size: 1.7rem;
    line-height: 1.6rem;
    letter-spacing: 0.32rem;
    text-transform: uppercase;
}


.actions__link {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.4rem;
    letter-spacing: 0.00032rem;
    text-transform: uppercase;
    color: var(--black);
    text-decoration: none;
    border: 1px solid var(--black);
    padding: 1.2rem 1.5rem;
    border-radius: 3rem;
    transition: .3s all;
}

.actions__link.actions__link-arrow {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    margin-left: 1.1rem;
}

.actions {
    display: flex;
    align-items: center;
}

.actions-right {
    justify-content: end;
}

.actions.actions-white .actions__link {
    border-color: var(--white);
    color: var(--white);
}

.actions.actions-white:hover .actions__link {
    background-color: var(--black);
    border-color: var(--black);
}

.actions.actions-white .actions__link-arrow svg path, .actions:hover .actions__link.actions__link-arrow svg path {
    fill: var(--white);
}

.actions:hover .actions__link {
    color: var(--white);
    border-color: var(--green);
    background-color: var(--green);
}





input:focus, textarea:focus {
    outline:none;
}