.nav {
    display: flex;
}

.nav__top {
    align-items: center;
    justify-content: space-between;
}

.search {
    flex-grow: 1;
    max-width: 37.5rem;
    position: relative;
}

.search__input {
    max-width: 37.5rem;
    width: 100%;
    height: 3.8rem;
    line-height: 1.758rem;
    font-size: 1.5rem;
    padding-left: 1.3rem;
}

.search__btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    border: .1rem solid var(--black);
    background-color: transparent;
    height: 3.8rem;
    width: 3.8rem;
    cursor: pointer;
}

.social {
    display: flex;
    max-width: 30rem;
    width: 100%;
}

.social__icons {
    display: flex;
    border: .1rem solid var(--black);
    max-width: 3.8rem;
    width: 100%;
    height: 3.8rem;
    align-items: center;
    justify-content: center;
    margin-right: .9rem;
    transition: .3s all;
}

.social__icons:hover {
    background-color: var(--green);
}

.social__link {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    background-color: var(--green);
    display: flex;
    max-width: 16.7rem;
    width: 100%;
    height: 3.8rem;
    justify-content: center;
    align-items: center;
    line-height: 18rem;
    font-weight: 600;
    transition: .3s all;
}

.nav__bottom {
    background-color: var(--green);
}

.nav__items {
    display: flex;
    justify-content: center;
    padding: 1.6rem;
}

.nav__link {
    display: flex;
    color: var(--white);
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 6.5rem;
    transition: .3s all;
}